* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Work Sans', sans-serif;
}
nav h1{
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    
}
nav li a{
    font-weight: 600;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin:50px auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style: none;
}
 /*nav style ends here  */
 .banner{
    width:80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .banner-text h1{
    font-size: 3rem;
    font-weight:700 ;
    font-family: 'Poppins';
 }
 .banner-text p{
    margin: 20px 0;
    
 }
 .banner-text{
    width:50%;
   
 }
 .btn-primary{
    border:none;
    padding:10px 25px;
    background-color:#E02C6D; ;
    color:white;
 }
 .radius{
    border-radius: 41px;
 }
 .banner-img{
    width:40%;
    height:475px;
    background-image: url('./images/Circle-design.png');
    background-size: contain ;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    
 }
 .main-camera{
    width:90%;
    object-fit: cover;
    margin-top: 60px;

 }
 /* banner section ends here */
 
 

@media screen and (max-width:576px){
    nav, nav ul, .banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul, nav h1{
        width:80%;
        margin: 10px auto;
        
    }
    nav ul li{
        margin-top: 5px;
    }
    .banner-text h1, .banner-img{
        width:100%;
        margin:5px;
    }
    .banner-text h1{
        font-size: 2.5rem;
    }

}